.wrapper_with_padding
  %p#notice= notice
  %p#error= flash[:error]

  .products_class
  %table.table
    %tr
      %th Title:
      %th= product.title
      %tr
        %td Description:
        %td= product.description
      %tr
        %td Price:
        %td= product.price
      %tr
        %td Category
        %td= product.category.name

  = render 'reviews/form'
  %h3 Reviews (average rating: #{product.average_rating})
  = render reviews
  = link_to 'Edit', edit_category_product_path(category.id, product.id), class: 'btn btn-primary'
  = link_to 'Back', category, class: 'btn btn-primary'
